// Buttons
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  label { cursor: pointer; }
  height: 3*$space;
  line-height: 3*$space;
  padding: 0 1*$space;
  border-radius: 6px;
  -webkit-font-smoothing: antialiased;
}
.btn-big { font-size: 1rem; }
@include break(medium){
  .btnr {
    font-size: 1.25rem;
    height: 4*$space;
    line-height: 4*$space;
    padding: 0 1.5*$space;
  }
}
// @include break(large){
//   .btnr {
//     font-size: 1.5rem;
//     height: 5*$space;
//     line-height: 5*$space;
//     padding: 0 2*$space;
//   }
// }

